﻿@model ENTIDAD.BoxProductosE

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/Menu.cshtml";

    var lstBoxProductos = ViewBag.ListadoBoxProducto;
    var lstBox = ViewBag.ListadoBox;
}

<br />
<br />
<h2>Inicio</h2>
<br />
<br />
<div style="height:150px;">

    <div class="row">
        <div class="col-lg-1" ></div>
        <div class="col-lg-2" style="background-color:red;">


            @foreach (var lst2 in lstBox)
            {
                var imagen = @lst2.imagen;
                var base64 = Convert.ToBase64String(imagen);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" width="200" height="200" />
                foreach (var lst1 in lstBoxProductos)
                {
                    if (lst2.nombreBox == lst1.idBox.nombreBox)
                    {
                        <p>@lst1.idProducto.nombreProducto @lst1.cantidad Kg.</p>
                    }
                }
            }




        </div>
        <div class="col-lg-4" style="background-color:blue;"></div>
        <div class="col-lg-4" style="background-color:green;"></div>

    </div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div >
    <div class="row">
        <div class="col-lg-1"></div>
        <div>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>BOX</th>
                    <th>PRODUCTO</th>
                    <th>CANTIDAD</th>
                    <th>PRECIO UNIT</th>
                    <th>PRECIO TOTAL</th>
                    <th>IMAGEN</th>

                </tr>


                @foreach (var item in lstBoxProductos)
                {
                    var base64 = Convert.ToBase64String(item.imagen);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <tr>
                        <td>@item.idBoxProducto</td>
                        <td>@item.idBox.nombreBox</td>
                        <td>@item.idProducto.nombreProducto</td>
                        <td>@item.cantidad</td>
                        <td>@item.idProducto.precio</td>
                        <td>@item.total  </td>
                        <td><img src="@imgSrc" width="50" height="50" /></td>
                    </tr>
                }

            </table>
        </div>
    </div>

</div>




