﻿
@{
    ViewBag.Title = "ActualizarBox";
    Layout = "~/Views/Layouts/Menu.cshtml";
}

<h2>ActualizarBox</h2>


<table>
    @using (Html.BeginForm("ActualizarBox", "Box", FormMethod.Post))
    {
        <tr>
            <td>ID</td>
            <td><input type="text" name="txtIdBox" /></td>
        </tr>
        <tr>
            <td>NOMBRE</td>
            <td><input type="text" name="txtNombreBox" /></td>
        </tr>
        <tr>
            <td>Imagen</td>
            <td> <input type="file" id="imagen" name="imagen"/> </td>
        </tr>
        <tr>
            <td><button type="submit">Actualizar</button></td>
        </tr>
    }
</table>
