﻿@model List<ENTIDAD.BoxE>

@{
    ViewBag.Title = "ListadoBox";
    Layout = "~/Views/Layouts/Menu.cshtml";

}

<h2>Listado Box</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>BOX</th>
        <th>IMAGEN</th>
    </tr>
    @foreach (var item in Model)
    {
        var base64 = Convert.ToBase64String(item.imagen);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <tr>
            <td>@item.idBox</td>
            <td>@item.nombreBox</td>
            <td><img src="@imgSrc" width="50" height="50"/></td>
        </tr>
    }
</table>

